{% extends "base.html" %}
{% block content %}     
<h3>About this site</h3> 
      <p>
          This tool serves as a <b>theoritical model</b> aiming at calculating the optimal point in time at which one 
          should get a mortgage, so that they minimize the total amount of money they spend while renting a flat, 
          and the amount they pay as interest to the bank for the mortgage.
      </p>
      <p>
        For example it can be used to decide if it will be more economical to live on rent for 5 years and then
        do a mortgage for 15 years, or, to live on rent for 10 years and then get a mortgage for another 10 years, 
        but for which less will be paid in interest, since the original loan amount will be less given that
        the savings one accumulates while renting a flat are spent towards the purchase of a property. 
      </p>
      <p>
        Ultimately, this tool demonstrates how to waste as little as possible on rent & mortgage interests.
      </p>
{% endblock %}
