<html>  
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" /> 
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  </head>
  
  <body>
   <div class="small_font">	
   <a href="/">Home</a> |
   <a href="javascript:void(0);" id="about">About</a> | 
   <a href="javascript:void(0);" id="report">Report a problem</a>
   </div>

   <div id="content">
   <h1 class="center_allign">Property purchase advisor tool</h1>
   <h2 class="center_allign">"How to waste as little as possible on rent & mortgage interests"</h2>
   

   <div style="margin-top: 50px;">
       
   <form action="/?" method="get">
    <table id="input_table" class="green_table">
      <th colspan="3" class="t1_header">Rent</th>
      <tr>
          <td>Current rent:</td>
          <td><input id="rent" type="text" name="rent" size="6" value="{{ rent }}"></td><td><a href="javascript:void(0);">[?]</a></td>
      </tr>
      <tr>
          <td>Monthly savings:</td> 
          <td><input id="savings" type="text" name="savings" size="6" value="{{ savings }}"></td><td><a href="javascript:void(0);">[?]</a></td>
      </tr>
      <th colspan="3" class="t1_header">Mortgage</th>
      <tr>
          <td>Interest rate:</td>
          <td> <input id="interest" type="text" name="interest" size="2" value="{{ 4.50 if interest is not defined else interest}}"></td>
          <td><a href="javascript:void(0);">[?]</a></td>
      </tr>
      <tr>
          <td>Monthly payments:</td>
          <td> <input id="payments" type="text" name="payments" size="6" value="{{ payments }}"></td>
          <td><a href="javascript:void(0);">[?]</a></td>
      </tr>
      <tr><td>Payments:</td><td>
      <select name="payment_types">
	      <option value="monthly">Monthly</option>
      </select></td></tr>
      <th colspan="3" class="t1_header">Property</th>
      <tr>
          <td>Property price:</td><td> <input id="price" type="text" name="price" size="7" value="{{ price }}"></td>
          <td><a href="javascript:void(0);">[?]</a></td>
      </tr>
      <tr><td> </td></tr>
      <tr><td colspan="2">
            <input type="checkbox" name="public" {{ "checked" if public or (not show_results) else "" }}>
            <span class="small_font">Make my results public</span>
       </td></tr>
      <tr><td><input type="submit" value="Calculate"></td>
     </table>
    </form>
  </div>
    
    {% if show_results %}
        <script>$("#input_table").css('margin-left', 0);</script>    
        <div>
        <table class="red_table_brief"> 
        <th class="t2_header" colspan="2">Results (in brief)</th>
        <tr><th class="t2_header" colspan="2">Rent</th></tr>
        <tr><td>Total paid:</td><td class="rent_paid res"> </td></tr>
        <tr><td>Duration:</td><td class="rent_duration res"> </td></tr>
        <th class="t2_header" colspan="2">Mortgage</th>
        <tr><td>Total interest paid:</td><td class="interest_paid res"> </td></tr>
        <tr><td>Mortgage duration:</td><td class="mortgage_duration res"> </td></tr>
        <tr><td colspan="2"> </td></tr>
        <tr><th class="t2_header" colspan="2">Total "wasted" money</th></tr>
        <tr><td colspan="2" class="total_wasted res center_allign" style="color:red"> </td></tr>
        </table>
    {% endif %}
    
    <div style="clear:both"> </div> <!-- because of the previous floating tables/divs  -->    
    
    {% if show_results %}
        <table class="red_table_explained">
        <th class="t2_header">Results (explained)</th>
        <tr><td>The most cost efficient strategy for you is:
            <ul>
            <li>Continue renting for another <span class="rent_duration res"> </span>.</li>
            <li>By the end of this period you will have paid a total of <span class="rent_paid res"> </span> on rent and saved <span class="total_saved res"> </span>.</li>
            <li>Using that, you can buy the property by making a mortgage of <span class="mortage_pricipal res"> </span>. </li>
            <li>You will repay it after <span class="mortgage_duration res"> </span>.</li>
            <li>The total interest you'll pay is <span class="interest_paid res"> </span>.</li>
            <li>Minimum total rent and interest: <span class="total_wasted res"> </span>.</li>
            </ul></td></tr>
        </table>
        </div>
    {% endif %}
    
    
    {% if show_results %}
    <div id="chart_div" style="width: 50em; height: 500px;"> </div>
    
    <p> The chart above shows your total expenses compared to when you get your mortgage, 
        as you continue to save money while you're renting. </p>
    <div class="top_distance">     	
        <a href="javascript:void(0);" id="show_breakdown">Show mortgage breakdown</a> 
	    <table id="mortgage_breakdown" style="display: none;">
    	    <thead>
    	        <th class="t4_header" colspan="5">Mortgage breakdown</th>
    	        <tr><th>Month</th>
    	            <th>Interest paid</th>
    	            <th>Principal paid</th>
    	            <th>Cumulative interest paid</th>
    	            <th>Remaining debt</th>
    	        </tr>
    	    </thead>
    	    <tbody/>
	    </table>
        <a href="javascript:void(0);" id="hide_breakdown_under" style="display: none;">Hide mortgage breakdown</a> 
    </div>
    
    {% endif %}
    {{calculations}}    
    <table id="table_recent_calcs">
        <th class="t3_header" colspan="7">Most recent calculations</th>
        <tr><th class="t3_header" colspan="2">Rent</th><th class="t3_header" colspan="2">Mortgage</th><th class="t3_header">Property</th><th class="t3_header" colspan="2">Date/Location</tr>
        <tr><th>Rent</th><th>Savings</th><th>Interest rate</th><th>Payments</th>
            <th>Price</th><th>Date</th><th>City</th></tr>
        
        {% for c in calculations %}
        <tr><td>{{(c.rent~"") | number_format}}</td>
        	<td>{{(c.savings~"") | number_format}}</td>
        	<td>{{(c.interest~"") | number_format}}</td>
        	<td>{{(c.payments~"") | number_format}}</td>
            <td>{{(c.price ~ "") | number_format}}</td>
            <td>{{c.datetime.strftime('%Y-%m-%d')}}</td>
            <td>{{c.city}}</td></tr>
        {% endfor %}
    </table>

    </div>  <!-- content -->
    
   <footer id="footer">
   <hr>
  	<p>Created with <a href="http://www.python.org/">Python</a>, <a href="http://jquery.com">jQuery</a> 
  		and <a href="https://appengine.google.com/">Google App Engine</a></p>
   </footer>
   
   <div id="dialog" title="About" style="display: none;">
      <p>
          This tool serves as a <b>theoritical model</b> aiming at calculating the optimal point in time at which one 
          should get a mortgage, so that they minimize the total amount of money they spend while renting a flat, 
          and the amount they pay as interest to the bank for the mortgage.
      </p>
      <p>
        For example it can be used to decide if it will be more economical to live on rent for 5 years and then
        do a mortgage for 15 years, or, to live on rent for 10 years and then get a mortgage for another 10 years, 
        but for which less will be paid in interest, since the original loan amount will be less given that
        the savings one accumulates while renting a flat are spent towards the purchase of a property. 
      </p>
      <p>
        Ultimately, this tool demonstrates how to waste as little as possible on rent & mortgage interests.
      </p>
    </div>
    
	<div id="dialog-contact" title="Report a problem" style="display: none;">
	  <p>Due to severe time restraints this site may have mistakes, inaccuracies or other omissions.
	  	 If you have spotted one of the above and feel strongly about it, you can report it and I may,
	  	 or I may not do something about it.</p>
	
      <p class="validateTips"> </p>
	  <form>
	  <table>
	    <tr>
	       <td><label for="name">Name</label></td>
	       <td><input type="text" name="name" id="name" value="" class="text ui-widget-content ui-corner-all" /></td>
	    </tr>
	    <tr>
      	   <td><label for="email">Email</label></td>
	       <td><input type="text" name="email" id="email" value="" class="text ui-widget-content ui-corner-all" /></td>
	    </tr>
      </table>
      <table>
	    <tr>
	       <td><label for="password">What you want to say</label></td>
	    </tr>
	    <tr>
	       <td><textarea id="form_content" name="content" rows="8" cols="50" class="text ui-widget-content ui-corner-all"> </textarea></td>
	    </tr>
	   </table>
	  </form>
	</div>
    
    {% if show_results %}
    <script src="js/results.js"></script>
    {% endif %}
    <script src="js/js.js"></script>
  </body>

</html>
